body {
  background: #fefcea; /* Old browsers */
  background: -moz-linear-gradient(top,  #fefcea 0%, #f1da36 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefcea), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fefcea 0%,#f1da36 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fefcea 0%,#f1da36 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel .slide {
  height: 100%;
}

.carousel .item {
  margin-top: 0px;
  height: 1000px;

}
.carousel-inner img {
  height: 600px;
  border-style: ridge solid;
  border-color: #752201;
  border-width: thick;
}

.carousel-inner p {
  color: #752201;
  padding: 10px;
  font-size: 110%;
  font-weight: bold;
}

.carousel-inner h1 {
  color: #752201;
}

.carousel-indicators li {
  border: 2px solid #752201;
}

.carousel-indicators .active{
  background-color: #8c3310;
}

.carousel-caption img {
  cursor: pointer;
}

.modal-lg {
	width: 1150px;
}

.modal-dialog {
	margin-top: 20px;
	margin-left: 20px;
}