<div id="collectorSlides" class="carousel slide" data-ride="carousel" data-interval="false" slidechange>
	
	<script type="text/ng-template" id="bigPicture.html">
		<img src="{{image}}" title="Click to close" ng-click="cancel()" class="modal__image"/>
	</script>
	
	<ol class="carousel-indicators">
		<li ng-repeat="collection in collectionObjects track by $index" data-target="#collectorSlides" data-slide-to="{{$index}}" ng-class="{active: $index == activeCollection}" ng-init="activeIndex = 0"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="item" ng-repeat="collection in collectionObjects" ng-class="{active: $index == activeCollection}">
			<div class="container">
				<div class="carousel-caption">
					<h1>{{collection.title}}</h1>
					<img src="{{collection.images[activeIndex]}}" title="Click me" ng-click="openModal(collection.images[activeIndex])" class="image__main fade--in">
					<div class="thumbnails" ng-if="collection.images.length > 1">
						<img ng-repeat="img in collection.images track by $index" src="{{img}}" class="image__small" ng-class="{active: $index == activeIndex}" ng-click="changeIndex($index)">
					</div>
					<p ng-bind-html="trustAsHtml(collection.body)">
					</p>
				</div>					
			</div>
		</div>
	</div>
	<a class="left carousel-control" href="#collectorSlides" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#collectorSlides" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>
</div>